<!DOCTYPE html>
<html lang="en" ng-app="contactForm">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Form</title>
    <link rel="stylesheet" type="text/css" href="dist/module.css">

</head>

<body ng-controller="mainController">

<div class="col-md-4 col-md-offset-4 col-sm-12 form-wrapper">
    <h1>Contact Us</h1>
    <p class="slight-visibility">Send us your queries using below form !</p>
    <form ng-submit="submitForm()" novalidate name="contactForm">
        <label>Name <i>*</i></label>
        <input type="text" placeholder="Name" name="nameField" class="form-control" required ng-model="query.name">
         <label>Email <i>*</i></label>
         <input type="email" placeholder="Email" class="form-control" required ng-model="query.email">
           <label>Message <i>*</i></label>
         <textarea class="form-control" placeholder="Message"  required ng-model="query.msg"></textarea>
         <input type="submit" value="send Query" class="btn btn-info pull-right" ng-disabled="contactForm.$invalid">
    </form>
</div>
    <script type="text/javascript" src="dist/contactModule.js"></script>
</body>

</html>