.form-wrapper{
    padding: 15px;
}
.form-wrapper p{
    margin-bottom: 25px;
}
.form-wrapper i{
    color: red;
}

.form-control{
    margin-bottom: 15px;
}
.slight-visibility{
    color: #6b6969;
}
input.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched {
    border:thin solid #FA787E;
  }

